/* cajitas de colores */

.discusion_1 {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #ffff00;
  background: #ffffff 5px center/3em no-repeat;
}

.discusion_2{
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #00ffff;
  background: #ffffff 5px center/3em no-repeat;
}
