/* colores */

:root {
  --baby-blue: #B6CADA;
  --baby-blue-30: #B6CADA30;
  --cornhusk: #F4DBB3;
  --cornhusk-30: #F4DBB330;
}

/* Custom boxes */
.discusion_1, .discusion_2 {
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.discusion_1 {
  border-left: solid 5px var(--cornhusk);
  background-color: var(--cornhusk-30);
}
.discusion_2{
  border-left: solid 5px var(--baby-blue);
  background-color: var(--baby-blue-30);
}

